:root {
    --font: font-family: 'Outfit', sans-serif;
}


body {
    background-color: hsl(212, 45%, 89%)
}

main {
    background-color: white;
    height: 31rem;
    width: 20rem;
    margin: 7rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#image-section {
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    border-radius: 0.5rem;
    width: 18rem;
    height: 18rem;
    margin-top: 1rem;
}